# misc settings
CONFIG_LOCALVERSION=""
# CONFIG_LOCALVERSION_AUTO is not set
CONFIG_CMDLINE=""
CONFIG_DEFAULT_HOSTNAME="localhost"

# enable certain expert features
CONFIG_EXPERT=y

# enable hardware random number generators
CONFIG_HW_RANDOM=y

# disable autofs support
# CONFIG_AUTOFS_FS is not set

# disable joystick/touchscreen/remote controller support
# CONFIG_INPUT_JOYSTICK is not set
# CONFIG_INPUT_TOUCHSCREEN is not set
# CONFIG_INPUT_TABLET is not set
# CONFIG_RC_CORE is not set

# enable input MOUSEDEV to allow touchpads to work in X
CONFIG_INPUT_MOUSEDEV=m
CONFIG_INPUT_MOUSEDEV_PSAUX=y
CONFIG_INPUT_MOUSE=y
CONFIG_MOUSE_PS2=m
CONFIG_MOUSE_PS2_ALPS=y
CONFIG_MOUSE_PS2_BYD=y
CONFIG_MOUSE_PS2_LOGIPS2PP=y
CONFIG_MOUSE_PS2_SYNAPTICS=y
CONFIG_MOUSE_PS2_SYNAPTICS_SMBUS=y
CONFIG_MOUSE_PS2_CYPRESS=y
CONFIG_MOUSE_PS2_LIFEBOOK=y
CONFIG_MOUSE_PS2_TRACKPOINT=y
CONFIG_MOUSE_PS2_ELANTECH=y
CONFIG_MOUSE_PS2_ELANTECH_SMBUS=y
CONFIG_MOUSE_PS2_SENTELIC=y
CONFIG_MOUSE_PS2_TOUCHKIT=y
CONFIG_MOUSE_PS2_FOCALTECH=y
CONFIG_MOUSE_PS2_SMBUS=y
CONFIG_MOUSE_SERIAL=m
CONFIG_MOUSE_ELAN_I2C=m
CONFIG_MOUSE_ELAN_I2C_I2C=y
CONFIG_MOUSE_ELAN_I2C_SMBUS=y
CONFIG_MOUSE_SYNAPTICS_I2C=m
CONFIG_MOUSE_SYNAPTICS_USB=m

# disable CAN support
# CONFIG_CAN is not set

# disable virtualization support
# CONFIG_VIRTUALIZATION is not set

# disable serial device bus support
# CONFIG_SERIAL_DEV_BUS is not set

# disable lirc
# CONFIG_LIRC is not set

# disable usb webcam support
# CONFIG_USB_GSPCA is not set

# disable apple cinema display support
# CONFIG_USB_APPLEDISPLAY is not set

# disable Video4Linux
# CONFIG_VIDEO_DEV is not set

# enable sound support
CONFIG_SOUND=m
CONFIG_SND=m
CONFIG_SND_HDA=m
CONFIG_SND_HDA_GENERIC_LEDS=y
CONFIG_SND_HDA_HWDEP=y
CONFIG_SND_HDA_RECONFIG=y
CONFIG_SND_HDA_INPUT_BEEP=y
CONFIG_SND_HDA_INPUT_BEEP_MODE=0
CONFIG_SND_HDA_PATCH_LOADER=y
CONFIG_SND_HDA_CODEC_REALTEK=m
CONFIG_SND_HDA_CODEC_ANALOG=m
CONFIG_SND_HDA_CODEC_SIGMATEL=m
CONFIG_SND_HDA_CODEC_VIA=m
CONFIG_SND_HDA_CODEC_HDMI=m
CONFIG_SND_HDA_CODEC_CIRRUS=m
CONFIG_SND_HDA_CODEC_CONEXANT=m
CONFIG_SND_HDA_CODEC_CA0110=m
CONFIG_SND_HDA_CODEC_CA0132=m
CONFIG_SND_HDA_CODEC_CA0132_DSP=y
CONFIG_SND_HDA_CODEC_CMEDIA=m
CONFIG_SND_HDA_CODEC_SI3054=m
CONFIG_SND_HDA_GENERIC=m
CONFIG_SND_HDA_POWER_SAVE_DEFAULT=1
CONFIG_SND_HDA_CORE=m
CONFIG_SND_HDA_DSP_LOADER=y
CONFIG_SND_HDA_COMPONENT=y
CONFIG_SND_HDA_EXT_CORE=m
CONFIG_SND_HDA_PREALLOC_SIZE=0
CONFIG_SND_USB=y
CONFIG_SND_USB_AUDIO=m

# disable speakup support
# CONFIG_SPEAKUP is not set

# disable accessibility support
# CONFIG_ACCESSIBILITY is not set

# disable unnecessary framebuffer settings
# CONFIG_FB_TFT is not set
# CONFIG_FB_BACKLIGHT is not set
# CONFIG_FB_SSD1307 is not set

# enable framebuffer console
CONFIG_FRAMEBUFFER_CONSOLE=y
CONFIG_FRAMEBUFFER_CONSOLE_DETECT_PRIMARY=y
# CONFIG_FRAMEBUFFER_CONSOLE_ROTATION is not set

# disable dedicated backlight support
# CONFIG_BACKLIGHT_GPIO is not set
# CONFIG_BACKLIGHT_LM3630A is not set
# CONFIG_BACKLIGHT_PWM is not set

# disable direct rendering manager support
# CONFIG_DRM is not set

# disable DVB hardware support
# CONFIG_DVB_CORE is not set

# disable android support options
# CONFIG_ANDROID_BINDER_IPC is not set

# disable samba server kernel support
# CONFIG_SMB_SERVER is not set

# enable media controller (camera) support
CONFIG_MEDIA_CONTROLLER=y

# disable all runtime testing menu items
# CONFIG_RUNTIME_TESTING_MENU is not set

# force conntrack as kernel component
# to be able to set options
CONFIG_NF_CONNTRACK=y

# disable deprecated staging drivers
# CONFIG_STAGING_MEDIA_DEPRECATED is not set

# force kernel preempt mode
CONFIG_PREEMPT=y
# CONFIG_DEBUG_PREEMPT is not set
# CONFIG_PREEMPT_DYNAMIC is not set

# support for /proc/config.gz
CONFIG_IKCONFIG=y
CONFIG_IKCONFIG_PROC=y

# disable zram and co because not required
# CONFIG_ZRAM is not set
# CONFIG_ZSWAP is not set
# CONFIG_Z3FOLD is not set
# CONFIG_ZSMALLOC is not set

# enable Multi-Gen LRU for improved performance unter memory pressure
CONFIG_LRU_GEN=y
CONFIG_LRU_GEN_ENABLED=y

# enable ondemand frequency scaling
CONFIG_CPU_FREQ=y
CONFIG_CPU_FREQ_GOV_POWERSAVE=y
CONFIG_CPU_FREQ_GOV_SCHEDUTIL=y
CONFIG_CPU_FREQ_DEFAULT_GOV_SCHEDUTIL=y

# filesystem support settings
CONFIG_MISC_FILESYSTEMS=y
CONFIG_BLOCK=y
CONFIG_EXT2_FS=y
CONFIG_EXT3_FS=y
CONFIG_EXT4_FS=y
CONFIG_MSDOS_FS=y
CONFIG_VFAT_FS=y
CONFIG_F2FS_FS=y
CONFIG_F2FS_STAT_FS=y
CONFIG_F2FS_FS_XATTR=y
CONFIG_F2FS_FS_POSIX_ACL=y
CONFIG_F2FS_IOSTAT=y
# CONFIG_NTFS_FS is not set
# CONFIG_SQUASHFS is not set
CONFIG_BTRFS_FS=m
CONFIG_FAT_DEFAULT_IOCHARSET="iso8859-1"
CONFIG_FAT_DEFAULT_CODEPAGE=850
# CONFIG_CIFS is not set
CONFIG_TMPFS=y
CONFIG_TMPFS_POSIX_ACL=y
CONFIG_TMPFS_XATTR=y
# CONFIG_CEPH_FS is not set

# partition support
CONFIG_PARTITION_ADVANCED=y
CONFIG_EFI_PARTITION=y
CONFIG_MSDOS_PARTITION=y
# CONFIG_MAC_PARTITION is not set
# CONFIG_BSD_DISKLABEL is not set

# disable quota support
# CONFIG_QUOTA is not set

# enable ata support
CONFIG_ATA=y

# disable raid/lvm support
# CONFIG_MD is not set

# audit support
CONFIG_AUDIT=y

# anable cryptographic API
CONFIG_CRYPTO=y
CONFIG_CRYPTO_LZ4=y

# disable kernel boot logo support
# CONFIG_LOGO is not set

# disable minimum stack debug counters for improved process startup
# CONFIG_DEBUG_STACK_USAGE is not set

# bluetooth support
CONFIG_BT=m
CONFIG_BT_BREDR=y
CONFIG_BT_RFCOMM=m
CONFIG_BT_RFCOMM_TTY=y
CONFIG_BT_LE=y
CONFIG_BT_BNEP=m
CONFIG_BT_BNEP_MC_FILTER=y
CONFIG_BT_BNEP_PROTO_FILTER=y
CONFIG_BT_HIDP=m
CONFIG_BT_LEDS=y

# enabke ipv6 support
CONFIG_IPV6=y
CONFIG_IPV6_ROUTER_PREF=y
# CONFIG_IPV6_SIT is not set

# enable IP multicast routing
CONFIG_IP_MROUTE=y
CONFIG_IPV6_MROUTE=y

# enable mptcp support
CONFIG_MPTCP=y
CONFIG_MPTCP_IPV6=y

# disable network bridge support
# CONFIG_BRIDGE is not set

# disable Netfilter nf_tables support
# CONFIG_NF_TABLES is not set

# disable IP set support
# CONFIG_IP_SET is not set
# CONFIG_IP_VS is not set

# disable virtual ip tunneling
# CONFIG_NET_IPVTI is not set

# network scheduler settings
CONFIG_NET_SCHED=y
CONFIG_NET_SCH_FQ_CODEL=y
CONFIG_NET_SCH_DEFAULT=y
CONFIG_DEFAULT_FQ_CODEL=y

# wireless support
CONFIG_WIRELESS=y
CONFIG_WEXT_CORE=y
CONFIG_WEXT_PROC=y
CONFIG_CFG80211=m
CONFIG_CFG80211_WEXT=y
# CONFIG_CFG80211_CRDA_SUPPORT is not set

# disable network tunnel settings
# CONFIG_TUN is not set
# CONFIG_VLAN_8021Q is not set
# CONFIG_VLAN_8021Q_GVRP is not set
# CONFIG_VLAN_8021Q_MVRP is not set

# disable ip/udp tunnels
# CONFIG_NET_IP_TUNNEL is not set
# CONFIG_NET_UDP_TUNNEL is not set

# disable wireguard support
# CONFIG_WIREGUARD is not set

# human interface devices support
CONFIG_HID=y
CONFIG_HID_RMI=m
CONFIG_HID_MULTITOUCH=m
CONFIG_HID_ALPS=m
CONFIG_HID_LENOVO=m
CONFIG_HIDRAW=y
CONFIG_UHID=y

# enable MTD support
CONFIG_MTD=m

# led trigger settings
CONFIG_LEDS_TRIGGERS=y
CONFIG_LEDS_TRIGGER_TIMER=y
CONFIG_LEDS_TRIGGER_ONESHOT=y
CONFIG_LEDS_TRIGGER_DISK=y
CONFIG_LEDS_TRIGGER_MTD=y
CONFIG_LEDS_TRIGGER_HEARTBEAT=y
CONFIG_LEDS_TRIGGER_CPU=y
CONFIG_LEDS_TRIGGER_ACTIVITY=y
CONFIG_LEDS_TRIGGER_DEFAULT_ON=y

# userspace LED support
CONFIG_LEDS_USER=m

# enable leds class flash
CONFIG_LEDS_CLASS_FLASH=m

# native language/codepage support
CONFIG_NLS=y
CONFIG_NLS_DEFAULT="utf8"
CONFIG_NLS_CODEPAGE_437=y
CONFIG_NLS_CODEPAGE_850=y
CONFIG_NLS_CODEPAGE_1250=y
CONFIG_NLS_ASCII=y
CONFIG_NLS_ISO8859_1=y
CONFIG_NLS_UTF8=y

# detect hanging tasks after 120s
CONFIG_DETECT_HUNG_TASK=y
CONFIG_DEFAULT_HUNG_TASK_TIMEOUT=120

# set some ACPI options
CONFIG_ACPI_BATTERY=y
# CONFIG_ACPI_SLEEP is not set
CONFIG_ACPI_APEI=y
CONFIG_ACPI_APEI_GHES=y

# disable CGROUPS (not needed by thinclient)
# CONFIG_CGROUPS is not set
# CONFIG_BLK_CGROUP is not set
# CONFIG_CGROUP_PIDS is not set
# CONFIG_CGROUP_RDMA is not set
# CONFIG_CGROUP_HUGETLB is not set
# CONFIG_CGROUP_DEVICE is not set
# CONFIG_CGROUP_PERF is not set
# CONFIG_CGROUP_MISC is not set
# CONFIG_CGROUP_DEBUG is not set
# CONFIG_SOCK_CGROUP_DATA is not set

# disable some debugging to safe space
# CONFIG_KALLSYMS_ALL is not set
# CONFIG_PM_DEBUG is not set
# CONFIG_KPROBES is not set
# CONFIG_NET_9P is not set

# disable unnecessary stuff
# CONFIG_EFI_MIXED is not set
# CONFIG_SUSPEND is not set
# CONFIG_MEDIA_CEC_SUPPORT is not set
# CONFIG_HYPERVISOR_GUEST is not set
# CONFIG_HIBERNATION is not set

# disable virtio support
# CONFIG_VIRTIO_MENU is not set
# CONFIG_VIRTIO_CONSOLE is not set
