CONFIG_USB=y
CONFIG_USB_ANNOUNCE_NEW_DEVICES=y

CONFIG_USB_HID=y
CONFIG_USB_HIDDEV=y

# disable USB<>IP support
# CONFIG_USBIP_CORE is not set

# disable USB serial support
# CONFIG_USB_SERIAL is not set

CONFIG_USB_ACM=m

# disable USB gadget support
# CONFIG_USB_GADGET is not set

# USB Network Adapters
CONFIG_USB_NET_DRIVERS=m
CONFIG_USB_RTL8150=m
CONFIG_USB_RTL8152=m
CONFIG_USB_LAN78XX=m
CONFIG_USB_USBNET=m
CONFIG_USB_NET_AX8817X=m
CONFIG_USB_NET_AX88179_178A=m
CONFIG_USB_NET_CDCETHER=m
CONFIG_USB_NET_CDC_EEM=m
CONFIG_USB_NET_CDC_NCM=m
CONFIG_USB_NET_SMSC75XX=m
CONFIG_USB_NET_SMSC95XX=m

CONFIG_MEDIA_CEC_SUPPORT=y

CONFIG_BT_INTEL=m
CONFIG_BT_BCM=m
CONFIG_BT_RTL=m
CONFIG_BT_HCIBTUSB=m
CONFIG_BT_HCIBTUSB_BCM=y
CONFIG_BT_HCIBTUSB_RTL=y

# Wi-Fi Support
CONFIG_RTL_CARDS=m
CONFIG_RTL8192CU=m
CONFIG_RTL8XXXU=m
CONFIG_R8188EU=m

CONFIG_WLAN_VENDOR_MEDIATEK=y
CONFIG_MT7601U=m

CONFIG_WLAN_VENDOR_RALINK=y
CONFIG_RT2X00=m
CONFIG_RT2500USB=m
CONFIG_RT73USB=m
CONFIG_RT2800USB=m
CONFIG_RT2800USB_RT33XX=y
CONFIG_RT2800USB_RT35XX=y
CONFIG_RT2800USB_RT3573=y
CONFIG_RT2800USB_RT53XX=y
CONFIG_RT2800USB_RT55XX=y
CONFIG_RT2800USB_UNKNOWN=y

# disable Multimedia core support
# CONFIG_MEDIA_SUPPORT is not set
# CONFIG_MEDIA_TUNER is not set

# enable GPIO support
CONFIG_GPIOLIB=y

# Staging quality drivers
CONFIG_STAGING=y

# disable USB PRINTER
# CONFIG_USB_PRINTER is not set

# disable 1-wire
# CONFIG_W1 is not set

# DRM options
CONFIG_DRM_DISPLAY_HELPER=y
CONFIG_DRM_TTM=y
CONFIG_DRM_BUDDY=y
