AUDIO_LEVEL=50
MIC_LEVEL=100
XRANDR_OPTIONS="dualscreen"
XKBLAYOUT="de,us"
XKBOPTIONS="grp:sclk_toggle,grp_led:scroll"
SESSION_0_THINLINC_CONFIG_SOUND_ENABLED=1
SESSION_0_THINLINC_CONFIG_REMOVE_CONFIGURATION=0
SESSION_0_THINLINC_CONFIG_SOUND_SYSTEM=AUTO
SESSION_0_THINLINC_CONFIG_NFS_SERVER_ENABLED=1
SESSION_0_THINLINC_CONFIG_NFS_EXPORTS=/run/usbmount,rw
SESSION_0_THINLINC_CONFIG_LOWERCASE_LOGIN_NAME=1
SESSION_0_THINLINC_CONFIG_JPEG_COMPRESSION=0
SESSION_0_THINLINC_CONFIG_HOST_ALIASES=
SESSION_0_THINLINC_CONFIG_OPTIONS_POPUP_KEY=
SESSION_0_THINLINC_CONFIG_ALLOW_HOSTKEY_UPDATE=0
SESSION_0_THINLINC_CONFIG_UPDATE_ENABLED=0
SESSION_0_THINLINC_CONFIG_FULL_SCREEN_MODE=1
SESSION_0_THINLINC_CONFIG_FULL_SCREEN_MONITOR_MODE=all
SESSION_0_QUTSELECT_CMD="qutselect -dtlogin -nouser -keep"
SESSION_0_QUTSELECT_SLIST=qutselect.slist
SESSION_0_QUTSELECT_MOTD=qutselect.motd
SESSION_0_FIREFOX_HOMEPAGE=http://www.google.de/
DONT_VT_SWITCH_STATE=TRUE
DONT_ZAP_STATE=TRUE
MOUSE_RESOLUTION=800
SCREEN_BLANK_TIME=15
SCREEN_STANDBY_TIME=30
SCREEN_SUSPEND_TIME=60
SCREEN_OFF_TIME=120
SHUTDOWN_IDLE_INTERVAL=5
SHUTDOWN_IDLE_TIME=86400
SHUTDOWN_IDLE_HOUR=3
SHUTDOWN_IDLE_MAX_UPTIME=432000
SHUTDOWN_IDLE_MAX_UPTIME_WDAY="Sat|Sun|Mon"
X_NUMLOCK=on
PKG_PREFIX=pkg
