BR2_x86_64=y
BR2_x86_corei7=y
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_6_12=y
# BR2_TARGET_ENABLE_ROOT_LOGIN is not set
BR2_ROOTFS_USERS_TABLES="${BR2_EXTERNAL_THINROOT_PATH}/board/generic-x86_64/users_table.txt"
BR2_ROOTFS_POST_BUILD_SCRIPT="$(BR2_EXTERNAL_THINROOT_PATH)/board/generic-x86_64/post-build.sh"
BR2_ROOTFS_POST_IMAGE_SCRIPT="$(BR2_EXTERNAL_THINROOT_PATH)/board/generic-x86_64/post-image.sh"
BR2_ROOTFS_POST_SCRIPT_ARGS="$(BR2_EXTERNAL_THINROOT_PATH)/board/generic-x86_64"
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="6.12.66"
BR2_LINUX_KERNEL_DEFCONFIG="x86_64"
BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES="$(BR2_EXTERNAL_THINROOT_PATH)/kernel/6.12/global.config $(BR2_EXTERNAL_THINROOT_PATH)/kernel/6.12/device-support.config $(BR2_EXTERNAL_THINROOT_PATH)/kernel/6.12/device-support-pci.config $(BR2_EXTERNAL_THINROOT_PATH)/kernel/6.12/security-x86_64.config $(BR2_EXTERNAL_THINROOT_PATH)/kernel/6.12/security.config $(BR2_EXTERNAL_THINROOT_PATH)/board/generic-x86_64/kernel.config"
BR2_PACKAGE_MESA3D_GALLIUM_DRIVER_CROCUS=y
BR2_PACKAGE_MESA3D_GALLIUM_DRIVER_I915=y
BR2_PACKAGE_MESA3D_GALLIUM_DRIVER_IRIS=y
BR2_PACKAGE_MESA3D_VULKAN_DRIVER_INTEL=y
BR2_PACKAGE_XDRIVER_XF86_VIDEO_AMDGPU=y
BR2_PACKAGE_XDRIVER_XF86_VIDEO_INTEL=y
BR2_PACKAGE_LINUX_FIRMWARE_I915=y
BR2_PACKAGE_LINUX_FIRMWARE_RADEON=y
BR2_PACKAGE_LINUX_FIRMWARE_IBT=y
BR2_PACKAGE_LINUX_FIRMWARE_IWLWIFI_7265D=y
BR2_PACKAGE_LINUX_FIRMWARE_IWLWIFI_8000C=y
BR2_PACKAGE_LINUX_FIRMWARE_IWLWIFI_8265=y
BR2_PACKAGE_LINUX_FIRMWARE_IWLWIFI_9XXX=y
BR2_PACKAGE_LINUX_FIRMWARE_IWLWIFI_QUZ=y
BR2_PACKAGE_LINUX_FIRMWARE_RTL_8169=y
BR2_PACKAGE_LINUX_FIRMWARE_AMD_UCODE=y
BR2_PACKAGE_INTEL_MICROCODE=y
BR2_PACKAGE_LIBDRM_RADEON=y
BR2_PACKAGE_LIBDRM_AMDGPU=y
BR2_PACKAGE_BLUEZ5_UTILS=y
BR2_PACKAGE_BLUEZ5_UTILS_OBEX=y
BR2_PACKAGE_BLUEZ5_UTILS_CLIENT=y
BR2_PACKAGE_BLUEZ5_UTILS_DEPRECATED=y
BR2_PACKAGE_LIBKRB5=y
BR2_PACKAGE_LIBNSS=y
BR2_PACKAGE_CUPS=y
BR2_PACKAGE_LIBV4L_UTILS=y
BR2_TARGET_ROOTFS_INITRAMFS=y

# select/deselect webkiosk/thinroot applications
BR2_PACKAGE_QUTSELECT=y
BR2_PACKAGE_THINLINC=y
BR2_PACKAGE_FREERDP=y
# BR2_PACKAGE_FREERDP_CLIENT_WL is not set
BR2_PACKAGE_VIRT_VIEWER=y
BR2_PACKAGE_WEBKITGTK=y
BR2_PACKAGE_WEBKITGTK_HTTPS=y
BR2_PACKAGE_WEBKITGTK_MULTIMEDIA=y
BR2_PACKAGE_WEBKITGTK_MINIBROWSER=y
#BR2_PACKAGE_WPEWEBKIT=y
#BR2_PACKAGE_WPEWEBKIT_MULTIMEDIA=y
#BR2_PACKAGE_WPEWEBKIT_MEDIA_STREAM=y
#BR2_PACKAGE_COG=y
#BR2_PACKAGE_YOE_KIOSK_BROWSER=y
#BR2_PACKAGE_QT5=y
#BR2_PACKAGE_QT5BASE_OPENGL_ES2=y
#BR2_PACKAGE_QT5BASE_LINUXFB=y
#BR2_PACKAGE_QT5BASE_XCB=y
#BR2_PACKAGE_QT5BASE_EGLFS=y
#BR2_PACKAGE_QT5BASE_DEFAULT_QPA="xcb"
#BR2_PACKAGE_QT5BASE_GIF=y
#BR2_PACKAGE_QT5LOCATION=y
#BR2_PACKAGE_QT5MULTIMEDIA=y
#BR2_PACKAGE_QT5DECLARATIVE=y
#BR2_PACKAGE_QT_WEBKIT_KIOSK=y
