BR2_arm=y
BR2_cortex_a17=y
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_6_12=y
BR2_ARM_FPU_NEON_VFPV4=y
# BR2_COMPILER_PARANOID_UNSAFE_PATH is not set
BR2_ROOTFS_USERS_TABLES="${BR2_EXTERNAL_THINROOT_PATH}/board/tinkerboard/users_table.txt"
BR2_ROOTFS_POST_BUILD_SCRIPT="$(BR2_EXTERNAL_THINROOT_PATH)/board/tinkerboard/post-build.sh"
BR2_ROOTFS_POST_IMAGE_SCRIPT="$(BR2_EXTERNAL_THINROOT_PATH)/board/tinkerboard/post-image.sh"
BR2_ROOTFS_POST_SCRIPT_ARGS="$(BR2_EXTERNAL_THINROOT_PATH)/board/tinkerboard"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="6.12.20"
BR2_LINUX_KERNEL_PATCH="$(BR2_EXTERNAL_THINROOT_PATH)/board/tinkerboard/kernel-patches"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL_THINROOT_PATH)/board/tinkerboard/kernel_defconfig"
BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES="$(BR2_EXTERNAL_THINROOT_PATH)/kernel/6.12/global.config $(BR2_EXTERNAL_THINROOT_PATH)/kernel/6.12/device-support.config $(BR2_EXTERNAL_THINROOT_PATH)/kernel/6.12/security-arm32.config $(BR2_EXTERNAL_THINROOT_PATH)/kernel/6.12/security.config $(BR2_EXTERNAL_THINROOT_PATH)/board/tinkerboard/kernel.config"
BR2_LINUX_KERNEL_LZ4=y
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="rockchip/rk3288-tinker rockchip/rk3288-tinker-s"
BR2_LINUX_KERNEL_DTB_OVERLAY_SUPPORT=y
BR2_LINUX_KERNEL_NEEDS_HOST_OPENSSL=y
BR2_PACKAGE_MESA3D_GALLIUM_DRIVER_PANFROST=y
BR2_PACKAGE_LIBDRM_VC4=y
BR2_PACKAGE_XDRIVER_XF86_VIDEO_FBDEV=y
BR2_PACKAGE_XDRIVER_XF86_VIDEO_FBTURBO=y
BR2_PACKAGE_I2C_TOOLS=y
BR2_PACKAGE_UBOOT_TOOLS=y
BR2_PACKAGE_UBOOT_TOOLS_MKIMAGE=y
BR2_PACKAGE_UBOOT_TOOLS_MKENVIMAGE=y
BR2_PACKAGE_UBOOT_TOOLS_DUMPIMAGE=y
BR2_TARGET_ROOTFS_CPIO=y
BR2_TARGET_ROOTFS_CPIO_LZ4=y
BR2_TARGET_ROOTFS_CPIO_UIMAGE=y
# BR2_TARGET_ROOTFS_TAR is not set
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
BR2_TARGET_UBOOT_CUSTOM_VERSION=y
BR2_TARGET_UBOOT_CUSTOM_VERSION_VALUE="2024.10"
BR2_TARGET_UBOOT_BOARD_DEFCONFIG="tinker-s-rk3288"
BR2_TARGET_UBOOT_CONFIG_FRAGMENT_FILES="$(BR2_EXTERNAL_THINROOT_PATH)/bootloader/uboot.config $(BR2_EXTERNAL_THINROOT_PATH)/board/tinkerboard/uboot.config"
BR2_TARGET_UBOOT_NEEDS_GNUTLS=y
BR2_TARGET_UBOOT_NEEDS_PYLIBFDT=y
# BR2_TARGET_UBOOT_FORMAT_BIN is not set
BR2_TARGET_UBOOT_FORMAT_DTB_BIN=y
BR2_TARGET_UBOOT_FORMAT_DTB_IMG=y
BR2_TARGET_UBOOT_SPL=y
BR2_TARGET_UBOOT_SPL_NAME="idbloader.img"
BR2_PACKAGE_HOST_GENIMAGE=y
BR2_PACKAGE_HOST_UBOOT_TOOLS_BOOT_SCRIPT=y
BR2_PACKAGE_HOST_UBOOT_TOOLS_BOOT_SCRIPT_SOURCE="$(BR2_EXTERNAL_THINROOT_PATH)/board/tinkerboard/boot.cmd"

# select/deselect webkiosk/thinroot applications
BR2_PACKAGE_QUTSELECT=y
BR2_PACKAGE_THINLINC=y
BR2_PACKAGE_FREERDP=y
# BR2_PACKAGE_FREERDP_CLIENT_WL is not set
BR2_PACKAGE_VIRT_VIEWER=y
BR2_PACKAGE_WEBKITGTK=y
BR2_PACKAGE_WEBKITGTK_HTTPS=y
BR2_PACKAGE_WEBKITGTK_MULTIMEDIA=y
BR2_PACKAGE_WEBKITGTK_MINIBROWSER=y
#BR2_PACKAGE_WPEWEBKIT=y
#BR2_PACKAGE_WPEWEBKIT_MULTIMEDIA=y
#BR2_PACKAGE_WPEWEBKIT_MEDIA_STREAM=y
#BR2_PACKAGE_COG=y
#BR2_PACKAGE_YOE_KIOSK_BROWSER=y
#BR2_PACKAGE_QT5=y
#BR2_PACKAGE_QT5BASE_OPENGL_ES2=y
#BR2_PACKAGE_QT5BASE_LINUXFB=y
#BR2_PACKAGE_QT5BASE_XCB=y
#BR2_PACKAGE_QT5BASE_EGLFS=y
#BR2_PACKAGE_QT5BASE_DEFAULT_QPA="xcb"
#BR2_PACKAGE_QT5BASE_GIF=y
#BR2_PACKAGE_QT5LOCATION=y
#BR2_PACKAGE_QT5MULTIMEDIA=y
#BR2_PACKAGE_QT5DECLARATIVE=y
#BR2_PACKAGE_QT_WEBKIT_KIOSK=y
