# thinRoot Continious Integration Check Workflow
# yamllint disable rule:truthy
---
name: CI Build

on:
  push:
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'

# default read-only permission
permissions:
  contents: read

jobs:
  skip_check:
    name: Duplicate Check
    runs-on: ubuntu-latest
    outputs:
      should_skip: ${{ steps.check.outputs.should_skip }}
    steps:
      - id: check
        uses: fkirc/skip-duplicate-actions@v5.3.1
        with:
          skip_after_successful_duplicate: 'true'
          concurrent_skipping: 'same_content_newer'

  linter:
    name: Linter Checks
    needs: skip_check
    if: ${{ needs.skip_check.outputs.should_skip != 'true' }}
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Check shell scripts
        uses: ludeeus/action-shellcheck@2.0.0

      - name: Check yaml files
        uses: frenck/action-yamllint@v1.5

      - name: Check markdown files
        uses: avto-dev/markdown-lint@v1
        with:
          ignore: '**/node_modules/** **/codemirror/README.md'

      - name: Check Package consistency
        run: |
          pip install flake8
          make check
